<h1>Weather</h1>

<p><strong>City:</strong> <%= @weather[:city] %></p>
<p><strong>Temperature:</strong> <%= @weather[:temperature] %> °C</p>
<p><strong>Humidity:</strong> <%= @weather[:humidity] %>%</p>
<p><strong>Condition:</strong> <%= @weather[:condition] %></p>
<p><strong>Wind speed:</strong> <%= @weather[:wind_speed] %> m/s</p>